@charset "UTF-8";

body {
    background-color: rgb(107, 107, 226);
    font: normal 1.3em Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.356);
}

section > div > p > input[type="button"] {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}